@using ADondeIr.Model

@{
    ViewBag.Title = "Inicio";
    ViewBag.IsHome = true;

    Layout = "~/Views/Shared/_Layout.cshtml";
    var tipoActividades = (List<TipoActividad>) ViewBag.listTipoActividades;
}
@section styles
{
<link href="~/Content/css/Home/Index.min.css" rel="stylesheet" />
}
<section class="hero_single version_2">
    <div class="wrapper">
        <div class="container">
            <h3>¡TU RUTA A LA DIVERSIÓN!</h3>
            <p>Descubre los mejores lugares de todo Lima(Perú).</p>
            <form method="post" action="/Producto/Busqueda">
                <div class="row no-gutters custom-search-input-2">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <input class="form-control" type="text" name="search" placeholder="Qué estás buscando...">
                            <i class="icon_search"></i>
                        </div>
                    </div>
                    <div class="col-lg-3 searchWhere">
                        <div class="form-group">
                            <i class="icon_pin_alt"></i>
                            @Html.DropDownList("fkDistrito", new SelectList(ViewBag.listDistrito, "pkDistrito", "cDistrito"), "Dónde...", new { @class = "wide" })
                        </div>
                    </div>
                    <div class="col-lg-3 searchCategory">
                        <div class="form-group">
                            @Html.DropDownList("fkTipoActividad", new SelectList(ViewBag.listTipoActividades, "pkTipoActividad", "cTipoActividad"), "Todas las categorias", new { @class = "wide" })
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <input type="submit" value="Buscar">
                    </div>
                </div>
                <!-- /row -->
            </form>
        </div>
    </div>
</section>
<!-- /hero_single -->

<div class="main_categories">
    <div class="container">
        <ul class="clearfix">
            @for (var i = 0; i < (tipoActividades.Count <= 4 ? tipoActividades.Count : 4); i++)
            {
                var tipoActividad = tipoActividades[i];
                <li>
                    <a href="/Producto/Busqueda?fkTipoActividad=@tipoActividad.pkTipoActividad">
                        <i class="@tipoActividad.cIcon"></i>
                        <h3>@tipoActividad.cTipoActividad</h3>
                    </a>
                </li>
            }
            <li>
                <a href="/Producto/Busqueda">
                    <i class="icon-dot-3"></i>
                    <h3>Más</h3>
                </a>
            </li>
        </ul>
    </div>
    <!-- /container -->
</div>
<!-- /main_categories -->

<div class="call_section">
    <div class="wrapper">
        <div class="container margin_80_55">
            <div class="main_title_2">
                <span><em></em></span>
                <h2>Cómo funciona</h2>
                <p>Busca, encuentra y disfruta...</p>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="box_how">
                        <i class="pe-7s-search"></i>
                        <h3>Ubicaciones de búsqueda</h3>
                        <p>Encuentra lo que esta buscando...</p>
                        <span></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box_how">
                        <i class="pe-7s-info"></i>
                        <h3>Ver información de ubicación</h3>
                        <p>Ver los lugares, restaurantes, bares que tienes mas cerca...</p>
                        <span></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box_how">
                        <i class="pe-7s-like2"></i>
                        <h3>Reservar, llegar o llamar</h3>
                        <p>Dispones de informacion de contacto para poder llamar y reservar...</p>
                    </div>
                </div>
            </div>
            <!-- /row -->
            <p class="text-center add_top_30 wow bounceIn" data-wow-delay="0.5s"><a href="#" class="btn_1 rounded">Registrate Ahora</a></p>
        </div>
        <canvas id="hero-canvas" width="1920" height="1080"></canvas>
    </div>
    <!-- /wrapper -->
</div>
<!--/call_section-->
