@using ADondeIr.Model

@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var tipoActividades = (List<TipoActividad>) ViewBag.listTipoActividades;
}
@section styles
{
<link href="~/Content/css/Home/Index.min.css" rel="stylesheet" />
}
<section class="hero_single version_2">
    <div class="wrapper">
        <div class="container">
            <h3>¡ENCUENTRA LO QUE NECESITAS!</h3>
            <p>Descubre los mejores lugares de todo Lima(Perú).</p>
            <form method="post" action="/Producto/Busqueda">
                <div class="row no-gutters custom-search-input-2">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <input class="form-control" type="text" name="search" placeholder="Qué estás buscando...">
                            <i class="icon_search"></i>
                        </div>
                    </div>
                    <div class="col-lg-3 searchWhere">
                        <div class="form-group">
                            <i class="icon_pin_alt"></i>
                            @Html.DropDownList("fkDistrito", new SelectList(ViewBag.listDistrito, "pkDistrito", "cDistrito"), "Dónde...", new { @class = "wide" })
                        </div>
                    </div>
                    <div class="col-lg-3 searchCategory">
                        <div class="form-group">
                            @Html.DropDownList("fkTipoActividad", new SelectList(ViewBag.listTipoActividades, "pkTipoActividad", "cTipoActividad"), "Todas las categorias", new { @class = "wide" })
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <input type="submit" value="Buscar">
                    </div>
                </div>
                <!-- /row -->
            </form>
        </div>
    </div>
</section>
<!-- /hero_single -->

<div class="main_categories">
    <div class="container">
        <ul class="clearfix">
            @for (var i = 0; i < (tipoActividades.Count <= 4 ? tipoActividades.Count : 4); i++)
            {
                var tipoActividad = tipoActividades[i];
                <li>
                    <a href="/Producto/Busqueda?tipoactividad=@tipoActividad.pkTipoActividad">
                        <i class="@tipoActividad.cIcon"></i>
                        <h3>@tipoActividad.cTipoActividad</h3>
                    </a>
                </li>
            }
            <li>
                <a href="/Producto/Busqueda">
                    <i class="icon-dot-3"></i>
                    <h3>Más</h3>
                </a>
            </li>
        </ul>
    </div>
    <!-- /container -->
</div>
<!-- /main_categories -->

<div class="container margin_60_35">
    <div class="main_title_3">
        <span></span>
        <h2>Famous Shops</h2>
        <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
        <a href="grid-listings-filterscol.html">See all</a>
    </div>
    <div class="row add_bottom_30">
        <div class="col-lg-3 col-sm-6">
            <a href="detail-shop.html" class="grid_item small">
                <figure>
                    <img src="img/shop_1.jpg" alt="">
                    <div class="info">
                        <h3>Victoria Secretes</h3>
                    </div>
                </figure>
            </a>
        </div>
        <div class="col-lg-3 col-sm-6">
            <a href="detail-shop.html" class="grid_item small">
                <figure>
                    <img src="img/shop_2.jpg" alt="">
                    <div class="info">
                        <h3>Louis Vuitton</h3>
                    </div>
                </figure>
            </a>
        </div>
        <div class="col-lg-3 col-sm-6">
            <a href="detail-shop.html" class="grid_item small">
                <figure>
                    <img src="img/shop_3.jpg" alt="">
                    <div class="info">
                        <h3>Burberry</h3>
                    </div>
                </figure>
            </a>
        </div>
        <div class="col-lg-3 col-sm-6">
            <a href="detail-shop.html" class="grid_item small">
                <figure>
                    <img src="img/shop_4.jpg" alt="">
                    <div class="info">
                        <h3>Pinko</h3>
                    </div>
                </figure>
            </a>
        </div>
    </div>
    <!-- /row -->

    <div class="main_title_3">
        <span></span>
        <h2>Popular Hotels</h2>
        <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
        <a href="grid-listings-filterscol.html">See all</a>
    </div>
    <div class="row add_bottom_30">
        <div class="col-lg-3 col-sm-6">
            <a href="detail-hotel.html" class="grid_item small">
                <figure>
                    <img src="img/hotel_1.jpg" alt="">
                    <div class="info">
                        <div class="cat_star"><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i></div>
                        <h3>Hotel Mariott</h3>
                    </div>
                </figure>
            </a>
        </div>
        <div class="col-lg-3 col-sm-6">
            <a href="detail-hotel.html" class="grid_item small">
                <figure>
                    <img src="img/hotel_2.jpg" alt="">
                    <div class="info">
                        <div class="cat_star"><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i></div>
                        <h3>Hotel Concorde</h3>
                    </div>
                </figure>
            </a>
        </div>
        <div class="col-lg-3 col-sm-6">
            <a href="detail-hotel.html" class="grid_item small">
                <figure>
                    <img src="img/hotel_3.jpg" alt="">
                    <div class="info">
                        <div class="cat_star"><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i></div>
                        <h3>Hotel La Defanse</h3>
                    </div>
                </figure>
            </a>
        </div>
        <div class="col-lg-3 col-sm-6">
            <a href="detail-hotel.html" class="grid_item small">
                <figure>
                    <img src="img/hotel_4.jpg" alt="">
                    <div class="info">
                        <div class="cat_star"><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i></div>
                        <h3>Hotel Carlton</h3>
                    </div>
                </figure>
            </a>
        </div>
    </div>
    <!-- /row -->

    <div class="main_title_3">
        <span></span>
        <h2>Top Restaurants</h2>
        <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
        <a href="grid-listings-filterscol.html">See all</a>
    </div>
    <div class="row ">
        <div class="col-lg-3 col-sm-6">
            <a href="detail-restaurant.html" class="grid_item small">
                <figure>
                    <img src="img/restaurant_1.jpg" alt="">
                    <div class="info">
                        <h3>Da Alfredo</h3>
                    </div>
                </figure>
            </a>
        </div>
        <div class="col-lg-3 col-sm-6">
            <a href="detail-restaurant.html" class="grid_item small">
                <figure>
                    <img src="img/restaurant_2.jpg" alt="">
                    <div class="info">
                        <h3>Bistroter</h3>
                    </div>
                </figure>
            </a>
        </div>
        <div class="col-lg-3 col-sm-6">
            <a href="detail-restaurant.html" class="grid_item small">
                <figure>
                    <img src="img/restaurant_3.jpg" alt="">
                    <div class="info">
                        <h3>Da Luigi</h3>
                    </div>
                </figure>
            </a>
        </div>
        <div class="col-lg-3 col-sm-6">
            <a href="detail-restaurant.html" class="grid_item small">
                <figure>
                    <img src="img/restaurant_4.jpg" alt="">
                    <div class="info">
                        <h3>Marco King</h3>
                    </div>
                </figure>
            </a>
        </div>
    </div>
    <!-- /row -->
</div>
<!-- /container -->

<div class="call_section">
    <div class="wrapper">
        <div class="container margin_80_55">
            <div class="main_title_2">
                <span><em></em></span>
                <h2>How it Works</h2>
                <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="box_how">
                        <i class="pe-7s-search"></i>
                        <h3>Search Locations</h3>
                        <p>An nec placerat repudiare scripserit, temporibus complectitur at sea, vel ignota fierent eloquentiam id.</p>
                        <span></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box_how">
                        <i class="pe-7s-info"></i>
                        <h3>View Location Info</h3>
                        <p>An nec placerat repudiare scripserit, temporibus complectitur at sea, vel ignota fierent eloquentiam id.</p>
                        <span></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box_how">
                        <i class="pe-7s-like2"></i>
                        <h3>Book, Reach or Call</h3>
                        <p>An nec placerat repudiare scripserit, temporibus complectitur at sea, vel ignota fierent eloquentiam id.</p>
                    </div>
                </div>
            </div>
            <!-- /row -->
            <p class="text-center add_top_30 wow bounceIn" data-wow-delay="0.5s"><a href="account.html" class="btn_1 rounded">Register Now</a></p>
        </div>
        <canvas id="hero-canvas" width="1920" height="1080"></canvas>
    </div>
    <!-- /wrapper -->
</div>
<!--/call_section-->
