@model ADondeIr.Model.Ruta
@{
    ViewBag.Title = "Ruta Actual";
    ViewBag.SubTitle = "Ruta Actual";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container margin_60_35">
    <div class="main_title_2">
        <span><em></em></span>
        <h2>Productos Seleccionados</h2>
        <p>Disfruta los lugares y/o productosy  recomienda nuestra app.</p>
    </div>
    <div class="row">
        <div class="col-lg-12" id="faq">
            <div role="tablist" class="add_bottom_45 accordion_2" id="ruta@(Model.pkRuta)">
                @foreach (var p in Model.RutaProducto)
                {
                    <div class="card">
                        <div class="card-header" role="tab">
                            <h5 class="mb-0">
                                <a data-toggle="collapse" href="#producto@(p.pkRutaProducto)" aria-expanded="true"><i class="indicator ti-plus"></i>@p.Producto.cProducto</a>
                            </h5>
                        </div>

                        <div id="producto@(p.pkRutaProducto)" class="collapse" role="tabpanel" data-parent="#ruta@(Model.pkRuta)">
                            <div class="card-body">
                                <p>@p.Producto.cObservacionPrincipal</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <!-- /col -->
    </div>
    <input type="button" value="Guardar Ruta" id="btnGuardarRuta">
    <input type="button" value="Generar Ruta" id="btnGenerarRuta">
    <div id="map" style="width: 100%; height: 500px"></div>
    <!-- /row -->
</div>
@section scripts
{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC93KoQsqfbYXZtQyVCJr76STWDnonLNFM" async defer></script>
    <script src="~/Content/js/Ruta/Active.min.js"></script>
}
