body #logo .logo_normal, body #logo .logo_sticky {
  height: 50px !important;
  width: auto !important; }

body #registerForm {
  display: none; }

body #forgot_pw i.icon_mail_alt {
  top: 54px; }

body .label.label-danger:not(:empty) {
  background: #FF2E2E;
  width: 100%;
  display: block;
  border-radius: 4px;
  color: white;
  padding: 1px 3px;
  margin-bottom: 5px;
  white-space: normal; }
